[submodule "submodules/temporal"]
	path = submodules/temporal
	url = https://github.com/temporalio/helm-charts.git
[submodule "submodules/tetragon"]
	path = submodules/tetragon
	url = https://github.com/cilium/tetragon.git
