[submodule "submodules/temporal"]
	path = submodules/temporal
	url = https://github.com/temporalio/helm-charts.git
[submodule "submodules/otel"]
	path = submodules/otel
	url = https://github.com/open-telemetry/opentelemetry-helm-charts.git
