fullnameOverride: "otel-operator"

manager:
  collectorImage:
    repository: "ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib"

  autoInstrumentation:
    go:
      enabled: true

  resources:
    limits:
      cpu: 100m
      memory: 128Mi
      ephemeral-storage: 50Mi
    requests:
      cpu: 100m
      memory: 64Mi
      ephemeral-storage: 50Mi
