apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: otel
spec: 
  image: ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib
  mode: daemonset
  serviceAccount: otel-collector
  config:
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
      filelog:
        include:
          - /var/log/pods/*/*/*.log
        exclude:
          - /var/log/pods/*/envoy*/*.log
          - /var/log/pods/*/notification-controller/*.log
          - /var/log/pods/*/application-controller/*.log
          - /var/log/pods/*/repo-server/*.log
          - /var/log/pods/*/autoinstrument/*.log
          - /var/log/pods/*/cilium-agent/*.log
        start_at: end
        include_file_path: true
        include_file_name: false
        operators:
          # Find out which format is used by kubernetes
          - type: router
            id: get-format
            routes:
              - output: parser-docker
                expr: 'body matches "^\\{"'
              - output: parser-crio
                expr: 'body matches "^[^ Z]+ "'
              - output: parser-containerd
                expr: 'body matches "^[^ Z]+Z"'
          # Parse CRI-O format
          - type: regex_parser
            id: parser-crio
            regex: '^(?P<time>[^ Z]+) (?P<stream>stdout|stderr) (?P<logtag>[^ ]*) ?(?P<log>.*)$'
            output: extract_metadata_from_filepath
            timestamp:
              parse_from: attributes.time
              layout_type: gotime
              layout: '2006-01-02T15:04:05.999999999Z07:00'
          # Parse CRI-Containerd format
          - type: regex_parser
            id: parser-containerd
            regex: '^(?P<time>[^ ^Z]+Z) (?P<stream>stdout|stderr) (?P<logtag>[^ ]*) ?(?P<log>.*)$'
            output: extract_metadata_from_filepath
            timestamp:
              parse_from: attributes.time
              layout: '%Y-%m-%dT%H:%M:%S.%LZ'
          # Parse Docker format
          - type: json_parser
            id: parser-docker
            output: extract_metadata_from_filepath
            timestamp:
              parse_from: attributes.time
              layout: '%Y-%m-%dT%H:%M:%S.%LZ'
          # Extract metadata from file path
          - type: regex_parser
            id: extract_metadata_from_filepath
            regex: '^.*\/(?P<namespace>[^_]+)_(?P<pod_name>[^_]+)_(?P<uid>[a-f0-9\-]{36})\/(?P<container_name>[^\._]+)\/(?P<restart_count>\d+)\.log$'
            parse_from: attributes["log.file.path"]
            cache:
              size: 128  # default maximum amount of Pods per Node is 110
          # Update body field after finishing all parsing
          - type: move
            from: attributes.log
            to: body
          # Rename attributes
          - type: move
            from: attributes.stream
            to: attributes["log.iostream"]
          - type: move
            from: attributes.container_name
            to: resource["k8s.container.name"]
          - type: move
            from: attributes.namespace
            to: resource["k8s.namespace.name"]
          - type: move
            from: attributes.pod_name
            to: resource["k8s.pod.name"]
          - type: move
            from: attributes.restart_count
            to: resource["k8s.container.restart_count"]
          - type: move
            from: attributes.uid
            to: resource["k8s.pod.uid"]

    processors:
      batch:
        timeout: 200ms
        send_batch_size: 512
        send_batch_max_size: 1024
      resourcedetection:
        detectors: 
          - "env"
          - "system"
        override: false
      transform/drop_unneeded_resource_attributes:
        error_mode: ignore
        trace_statements:
          - context: resource
            statements:
              - delete_key(attributes, "k8s.pod.start_time")
              - delete_key(attributes, "os.description")
              - delete_key(attributes, "os.type")
              - delete_key(attributes, "process.command_args")
              - delete_key(attributes, "process.executable.path")
              - delete_key(attributes, "process.pid")
              - delete_key(attributes, "process.runtime.description")
              - delete_key(attributes, "process.runtime.name")
              - delete_key(attributes, "process.runtime.version")
        metric_statements:
          - context: resource
            statements:
              - delete_key(attributes, "k8s.pod.start_time")
              - delete_key(attributes, "os.description")
              - delete_key(attributes, "os.type")
              - delete_key(attributes, "process.command_args")
              - delete_key(attributes, "process.executable.path")
              - delete_key(attributes, "process.pid")
              - delete_key(attributes, "process.runtime.description")
              - delete_key(attributes, "process.runtime.name")
              - delete_key(attributes, "process.runtime.version")
        log_statements:
          - context: resource
            statements:
              - delete_key(attributes, "k8s.pod.start_time")
              - delete_key(attributes, "os.description")
              - delete_key(attributes, "os.type")
              - delete_key(attributes, "process.command_args")
              - delete_key(attributes, "process.executable.path")
              - delete_key(attributes, "process.pid")
              - delete_key(attributes, "process.runtime.description")
              - delete_key(attributes, "process.runtime.name")
              - delete_key(attributes, "process.runtime.version")
      transform/add_resource_attributes_as_metric_attributes:
        error_mode: ignore
        metric_statements:
          - context: datapoint
            statements:
              - set(attributes["deployment.environment"], resource.attributes["deployment.environment"])
              - set(attributes["service.version"], resource.attributes["service.version"])

      k8sattributes:
        extract:
          metadata:
            - k8s.namespace.name
            - k8s.pod.name
            - k8s.deployment.name
            - k8s.statefulset.name
            - k8s.daemonset.name
            - k8s.cronjob.name
            - k8s.job.name
            - k8s.node.name
            - k8s.pod.uid
            - k8s.pod.start_time
        pod_association:
          - sources:
              - from: connection

      tail_sampling:
        decision_wait: 10s
        num_traces: 100
        expected_new_traces_per_sec: 10
        policies:
          - name: keep-errors
            type: status_code
            status_code:
              status_codes: [ERROR]

          - name: keep-non-health-http-route
            type: string_attribute
            string_attribute:
              key: http.route
              enabled_regex_matching: true
              invert_match: true
              value: ^/(healthz?|ready|live)$

          - name: keep-non-health-url-path
            type: string_attribute
            string_attribute:
              key: url.path
              enabled_regex_matching: true
              invert_match: true
              value: ^/(healthz?|ready|live)$

          - name: keep-non-grpc-health
            type: string_attribute
            string_attribute:
              key: rpc.service
              values: [grpc.health.v1.Health]
              invert_match: true

    exporters:
      otlphttp/grafana_cloud:
        endpoint: "https://otlp-gateway-prod-gb-south-1.grafana.net/otlp"
        auth:
          authenticator: basicauth/grafana_cloud

    extensions:
      basicauth/grafana_cloud:
        client_auth:
          username: "1374854"
          password: "${env:GRAFANA_CLOUD_API_KEY}"
      health_check:
        endpoint: 0.0.0.0:13133

    connectors:
      grafanacloud:
        host_identifiers: 
          - "k8s.node.name"

    service:
      extensions:
        - basicauth/grafana_cloud
        - health_check
      pipelines:
        traces:
          receivers: 
            - otlp
          processors:
            - resourcedetection
            - k8sattributes
            - tail_sampling
            - transform/drop_unneeded_resource_attributes
            - batch
          exporters: 
            - otlphttp/grafana_cloud
        metrics:
          receivers: 
            - otlp
          processors:
            - resourcedetection
            - k8sattributes
            - transform/drop_unneeded_resource_attributes
            - transform/add_resource_attributes_as_metric_attributes
            - batch
          exporters: 
            - otlphttp/grafana_cloud
        logs:
          receivers: 
            - otlp
            - filelog
          processors:
            - resourcedetection
            - k8sattributes
            - transform/drop_unneeded_resource_attributes
            - batch
          exporters: 
            - otlphttp/grafana_cloud

  env:
    - name: GRAFANA_CLOUD_API_KEY
      valueFrom:
        secretKeyRef:
          name: grafana-cloud-credentials
          key: API_KEY
  
  resources:
    limits:
      cpu: 250m
      memory: 512Mi

  volumeMounts:
    - name: varlogpods
      mountPath: /var/log/pods
      readOnly: true
  volumes:
    - name: varlogpods
      hostPath:
        path: /var/log/pods