apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-cloud-credentials
spec:
  refreshInterval: "0"
  secretStoreRef:
    name: oci-secret-store
    kind: ClusterSecretStore
  target:
    name: grafana-cloud-credentials
  data:
    - secretKey: API_KEY
      remoteRef:
        key: grafana_cloud_otlp_api_key
