apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: account
  namespace: argocd
spec:
  description: Account Management
  sourceRepos:
    - '*'
  destinations:
    - namespace: '*'
      server: '*'
  clusterResourceWhitelist:
    - group: ''
      kind: Namespace
  namespaceResourceWhitelist:
    - group: '*'
      kind: '*'